@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');



.screen {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.game-area {
  position: relative;
  width: 500px;
  height: 400px;
  background: repeating-linear-gradient(
    45deg,
    #222,
    #222 10px,
    #333 10px,
    #333 20px
  );
  border: 4px solid #0ff;
  box-shadow: 0 0 20px #0ff;
  overflow: hidden;
}

.cat, .object, .finish-line {
  position: absolute;
  font-size: 2rem;
}

.finish-line {
  font-size: 2.5rem;
}

